@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --main-bg-color : rgb(28, 17, 17);
    --cursor-bg-shadow : rgba(255, 138, 138, 0.211);
    --main-font-color : white;
    --nav-indicator-inactive : rgb(103, 103, 103);
    --second-font-color : rgb(123, 123, 123);
    --experience-bg-color : rgba(165, 165, 165, 0.056);
    --font-inter :'Inter'; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-font-color);
    font-family: var(--font-inter), sans-serif;
    scroll-behavior: smooth;
}

/*HTML TAGS*/
body{
    background-color: var(--main-bg-color);
}
header{
    height: 75vh;
}
main{
    position: relative;
    left: 50%;
}

/*GLOBAL PROPERTIES*/
.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.max-w-screen {
    max-width: 1250px;
}
.min-h-screen {
    min-height: 100vh;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.display-flex{
    display: flex;
}
.flex-direction-column{
    flex-direction: column;
}
.sticky-position{
    position: fixed;
}
.width-50-percent{
    width: 50%;
}
.width-45-percent{
    width: 45%;
}
.width-55-percent{
    width: 55%;
}
.margin-top-100{
    margin-top: 100px;
}
.padding-20{
    padding: 20px;
}
.padding-30{
    padding: 30px;
}
.gap-20{
    gap: 20px;
}
.gap-15{
    gap: 15px;
}
.gap-10{
    gap: 10px;
}
.list-no-style{
    list-style: none;
}
.text-no-decoration{
    text-decoration: none;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.active{
    width: 4rem;
    background-color: var(--main-font-color);
    transition: linear 0.1s;
}
.inactive{
    width: 2rem;
    background-color: var(--nav-indicator-inactive);
    transition: linear 0.1s;
}
.margin-16{
    margin: 0 16px 0 0;
}
.margin-bottom-100{
    margin-bottom: 100px;
}
.font-size-12{
    font-size: 12px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-16{
font-size: 16px;
}
.font-bold{
    font-weight: bold;
}
.no-pointer-events{
    pointer-events: none;
}
.space-between{
    justify-content: space-between;
}
.line-heigth-25{
    line-height: 25px;
}
.line-heigth-20{
    line-height: 20px;
}
.grey-color{
    color: var(--second-font-color);
}
.flex-wrap{
    flex-wrap: wrap;
}


/*CURSOR GLOW*/
.cursor-glow {
    position: fixed;
    pointer-events: none;
    box-shadow:
    0 0 1500px 150px var(--cursor-bg-shadow);
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: transform 0.05s linear;
}



/*CUSTOM PROPERTIES*/
.header-info{
    height: 25vh;
}
.header-info p{
    max-width: 40%;
    text-wrap: wrap;
    color: var(--second-font-color);
}
.rodrigo-name{
    font-size: 45px;
}
.rodrigo-proffesion{
    font-size: 18px;
}
.nav-indicator{
    height: 1px;
}
.header-nav-element{
    width: fit-content;
}
.social-media-svg g{
    transition: linear 0.1s;
}
.social-media-svg:hover g{
    fill: rgb(255, 255, 255);
}
.about-p p{
    color: var(--second-font-color);
}
.experience-card{
    border-radius: 15px;
    width: 100%;
}
.experience-card:hover{
    background-color: var(--experience-bg-color);
}
.experience-date{
    width: 30%;
}
.experience-card-info{
    width: 90%;
}
.skill{
    padding: 5px 10px;
    border-radius: 15px;
    background-color: var(--cursor-bg-shadow);
    color: rgb(255, 183, 183);
}
#experience{
    
}


/*ANIMACIONES*/
